$base-sans-serif-font: 'Avenir Next', Avenir, sans-serif;
$accent-color: #ffc107;

body {
  font: 1em/1.6 $base-sans-serif-font;
}

img[data-src][src*='data:image'] {
  background: rgba(0,0,0,0.04);
}

h1 {
  font-size: 2.5em;
  line-height: 1;
}

.uk-logo svg {
  width: 40px;
  height: 40px;
}

.uk-light .uk-logo {
  color: white;
}

a {
  color: $accent-color;
  &:hover {
    color: $accent-color;
  }
}

blockquote {
  font-family: serif;
  font-style: normal;
}

.tm-container {
  max-width: 1032px;
}

.uk-navbar {
  margin-top: 32px;
}

.hero {
  height: 512px;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: $base-sans-serif-font;
  font-weight: bold;
}

.footnote {
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: super;
}

.footnotes {
  font-size: 0.875em;
  color: rgba(0,0,0,0.4);
}

.brooks {
  position: relative;
  font-size: 2em;
  padding-left: 1em;
  &:before {
    content: '\201C';
    position: absolute;
    top: -0.4em;
    left: -0.05em;
    color: lighten($accent-color, 40%);
    font-size: 4em;
    line-height: 1;
    z-index: -1;
   }
}

.ludwig {
  padding-left: 1em;
  border-left: 0.2em solid lighten($accent-color, 40%);
  font-weight: 200;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: $accent-color;
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

.highlight:hover::before {
  transform: scaleY(1);
  background-color: $accent-color;
}

.tm-responsive-gutter-width {
  margin-left: -24px;
}

.tm-responsive-gutter-width > * {
  padding-left: 24px;
}

@media only screen and (max-width: 959px) {

  .hero {
    height: 420px;
  }
  
  .brooks {
    font-size: 1.75em;
  }
  
  .tm-responsive-gutter-width {
    margin-left: -16px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 16px;
  }

}

@media only screen and (max-width: 639px) {
  
  .uk-background-cover {
    background-position: 35% 50%;
  }
    
  .hero {
    height: 375px;
  }

  h1 {
    font-size: 2em;
  }
  
  .uk-logo svg {
    width: 32px;
    height: 32px;
  }
  
  .uk-navbar {
    margin-top: 20px;
  }
  
  .brooks {
    font-size: 1.25em;
  }
  
  .uk-text-lead {
    font-size: 1.25em;
  }
  
  .uk-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .tm-responsive-gutter-width {
    margin-left: -8px;
  }

  .tm-responsive-gutter-width > * {
    padding-left: 8px;
  }

}
